@import "tailwindcss";

:root {
  --background-color: rgb(245, 245, 255);
  --footer-bg: rgb(230, 230, 245);

  --item-bg: #e3e8f0;
  --icon-bg: #8c94a3;

  --white: #000000;
  --black: #ffffff;

  --subtitle-1: #606974;
  --subtitle-2: #4a5568;

  --star-blue: #7ca7ca;

  --theme-switcher-bg: #e5e7eb;
  --theme-switcher-color: #1e2939;
}

.dark {
  --background-color: rgb(11, 11, 19);
  --footer-bg: rgb(28, 28, 49);

  --item-bg: rgb(50, 50, 66);
  --icon-bg: #6a7282;

  --white: #ffffff;
  --black: #000000;

  --subtitle-1: #99a1af;
  --subtitle-2: #d1d5dc;

  --star-blue: #7ca7ca;
  --star-blue-text: #000000;

  --theme-switcher-bg: #1e2939;
  --theme-switcher-color: #e5e7eb;
}
