---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';

import Hero from '../sections/Hero.astro';
import Informacion from '../sections/Informacion.astro';
import Proyectos from '../sections/Proyectos.astro';
import Tecnologias from '../sections/Tecnologias.astro';
import Footer from '../sections/Footer.astro';

import ThemeSwitcher from '../components/ThemeSwitcher.tsx';
---

<Layout>
  <Hero />
  <hr class="hidden md:block w-[60vw] border border-[var(--white)] opacity-40"/>
  <Informacion />
  <hr class="w-[60vw] border border-[var(--white)] opacity-40 mt-[3vh]"/>
  <Proyectos />
  <hr class="w-[60vw] border border-[var(--white)] opacity-40 mt-[3vh]"/>
  <Tecnologias />
  <Footer />
  <div class="fixed bottom-10 right-10 z-60">
    <ThemeSwitcher client:load />
  </div>
</Layout>

<script>
  const preferredLanguage = document.cookie
    .split('; ')
    .find(row => row.startsWith('preferredLanguage='))
    ?.split('=')[1];

  if (preferredLanguage) {
    window.location.href = `/${preferredLanguage}/`;
  }
</script>