---
---

<div class="md:w-full flex flex-row gap-2 items-center md:rounded-lg md:bg-[var(--item-bg)] p-4 md:p-2">
  <div class="flex flex-col text-left">
    <h2 class="text-[var(--white)] text-2xl">404 | No encotrado</h2>
    <p class="text-[var(--subtitle-1)] text-md">por ahora...</p>
    <p class="text-[var(--subtitle-2)] text-md">20?? - 20??</p>
  </div>
</div>
