---
import Item from '../components/Item.astro';
---
<section class="flex flex-col text-left">
  <h1 class="text-white text-4xl">Estudios</h1>
  <div class="flex flex-col gap-2">
    <Item titulo="Desarrollo de Aplicaciones Web" lugar="CPIFP Los Enlaces" fechaInicio="2024" fechaFin="2026" icono="daw-icon.svg" orientacion="0"/>
    <Item titulo="Bachillerato científico y tecnológico" lugar="IES Ángel Sanz Briz" fechaInicio="2022" fechaFin="2024" icono="bachi-icon.webp" orientacion="0"/>
    <Item titulo="Educación Secundaria Obligatoria" lugar="IES Ángel Sanz Briz" fechaInicio="2018" fechaFin="2022" icono="eso-icon.webp" orientacion="0"/>
  </div>
</section>