---
import Item from '../components/Item.astro';
import goated from '../assets/goated-icon.webp';

import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<section class="w-full flex flex-col text-center md:text-left md:gap-2">
  <h2 class="text-[var(--white)] text-3xl md:text-4xl mb-[5vh] md:mb-0 md:mt-0 mt-[5vh]">{t('experiencia.titulo')}</h2>
  <div class="flex flex-col gap-2">
    <Item titulo={t('experiencia.primero.titulo')} lugar={t('experiencia.primero.lugar')} fechaInicio={t('experiencia.primero.fechaInicio')} fechaFin={t('experiencia.primero.fechaFin')} icono={goated.src} link="https://www.goatedapp.com/"/>
  </div>
</section>