---
import Item from '../components/Item.astro';
import NoExperiencia from '../components/NoExperiencia.astro';
---
  <section class="text-white flex flex-col text-left gap-2">
  <h1 class="text-4xl">Experiencia</h1>
  <div class="flex flex-col gap-2">
    <NoExperiencia />
  </div>
</section>