---
import Item from '../components/Item.astro';
import NoExperiencia from '../components/NoExperiencia.astro';
---
  <section class="flex flex-col text-left md:gap-2">
  <h1 class="text-white text-4xl ml-4 md:ml-0">Experiencia</h1>
  <div class="flex flex-col gap-2">
    <NoExperiencia />
  </div>
</section>