---
import Item from '../components/Item.astro';
---
<section class="text-white flex flex-col text-left gap-2">
  <h1 class="text-4xl">Experiencia</h1>
  <div class="flex flex-col gap-2">
    <h2 class="text-2xl text-gray-400">Vaya... aún no hay nada aquí.</h2>
  </div>
</section>