---
import Mail from '../components/Mail.tsx';
import linkedinIcon from '../assets/linkedin-icon.svg';
import githubIcon from '../assets/github-icon.svg';
---

<section class="p-10">
  <h1 class="text-[var(--white)] text-7xl">JUAN PASAMAR GUTIÉRREZ</h1>
  <h2 class="text-[var(--subtitle-1)] text-3xl">Desarrollador Web | Frontend & Backend</h2>

  <div class="flex flex-row justify-center items-center gap-2 mt-5">
    <a href="https://www.linkedin.com/in/juan-pasamar-guti%C3%A9rrez-273b4b335/" rel="noopener" target="_blank">
      <img src={linkedinIcon.src} alt="Linkedin Icon" class="w-11"/>
    </a>
    <Mail client:load/>
    <a href="https://github.com/juannpg" rel="noopener" target="_blank">
      <img src={githubIcon.src} alt="Github Icon" class="w-11"/>
    </a>
  </div>
</section>