---
import Estudios from "./Estudios.astro";
import Experiencia from "./Experiencia.astro";
---
<section class="flex md:flex-row w-[100vw] md:w-[66vw] justify-center flex-col gap-[1vw]">
  <Estudios />
  <Experiencia />
</section>