---
import Proyecto from "../components/Proyecto.astro"
---
<section class="w-[71vw]">
  <h1 class="text-white text-4xl">Proyectos Personales</h1>
  <Proyecto titulo="Web RapPhone" descripcion="Aplicación web para la difusión del grupo de radio RapPhone." imagen="bachi-icon.webp" github="https://github.com/juannpg/rapphone" despliege="2023"/>
</section>