---
import Proyecto from "../components/Proyecto.astro"
import rapphoneIcon from '../assets/rapphone-icon.webp';
---
<section class="md:w-[55vw] w-[87vw] flex flex-col gap-2">
  <h1 class="text-white text-4xl">Proyectos Personales</h1>
  <Proyecto titulo="Web RapPhone" descripcion="Para un proyecto en grupo realicé la página web de un grupo de radio llamado RapPhone. Debimos usar HTML, CSS y JS vanilla para ello. Lo más destacable fue el backend, donde utilizamos Cloud Funcitons de Firebase para hacer distintas solicitudes a la API de Twitch, Spotify, y utilizar el paquete de NPM de Gemini AI" imagen={rapphoneIcon.src} github="https://github.com/juannpg/rapphone" despliege="https://rapphone.vercel.app"/>
</section>