<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Juan Pasamar | Dev</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
  @font-face {
    font-family: 'prototype';
    src: url(/src/fonts/Prototype.ttf);
  }
  
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    text-align: center;
    font-family: prototype;
	}

  html {
    padding-top: 5vh;
  }
</style>
